@media print {
  @page :footer {
    display: none !important;
  }

  @page :header {
    display: none !important;
  }

  @page {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  main {
    padding: 0 !important;
  }

  .shomare-faktor-box,
  .top-bar,
  #topNav {
    display: none;
  }
  .customer-list {
    width: 100% !important;
    margin: auto !important;
    border: 1px solid black;
  }
  .table-heading th {
    color: black !important;
    border: 1px solid black !important;
    font-weight: bold !important;
  }
  td {
    border: 1px solid black !important;
  }

  .jadval-shomare-blue,
  .jadval-shomare-kharidar {
    all: unset !important;
    padding: 5px !important;
    font-size: 14px !important;
    font-weight: bold !important;
  }

  .jadval-shomare-kharidar {
    font-size: 13px;
  }

  .user-img {
    width: 30px !important;
    height: 30px !important;
    margin: auto !important;
  }
  .edit {
    display: none !important;
  }

  table.customer-list td {
    padding: 0;
  }

  .shomare-faktor-date {
    font-size: 11px;

    background: none;
    padding: 4px;
  }

  html {
    margin: 0;
  }

  table.customer-list th {
    height: auto;
  }

  .today-faktor-statistics {
    display: none;
  }
}

.ranking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: #44ad73;
  border-radius: 30px;
  box-shadow: 0px 1px 3px 0px #b9b9b9;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #18894a;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
  border: 2px solid #74d9a1;
  width: 45px;
  height: 45px;
  font-size: 19px;
}

.ranking-icon {
  font-size: 19px;
}

.golden {
  color: gold;
}

.silver {
  color: #cfcfcf;
}

.lucky {
  color: #268751;
}
