@font-face {
  font-family: "iran_sans";
  src: url("../../assets/fonts/IRANSans-Light-web.woff") format("woff"),
    url("../../assets/fonts/IRANSans-Light-web.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "iran_sans";
  src: url("../../assets/fonts/IRANSans-Bold-web.woff") format("woff"),
    url("../../assets/fonts/IRANSans-Bold-web.ttf") format("truetype");
  font-weight: bold;
}
